.rackContainer {
	display: flex;
	margin: 0.1rem 0;
	justify-content: center;
}

.rackContainer .tile {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: calc(35vw / 15);
	height: calc(35vw / 15);
	background: #0f2949;
	border-radius: 10%;
	margin: 0.1rem;
	cursor: pointer;
}

.rackContainer .tile > h2 {
	display: inline-block;
	color: #5297ae;
	font-size: 1.2vw;
	text-transform: uppercase;
	font-weight: 500;
}

.rackContainer .tile.transparent {
	opacity: 0.25;
}

.rackContainer .tile.brown {
	background: #fcffff;
}
