.tableContainer {
	display: flex;
	flex-direction: column;
}

.tableContainer .row {
	display: flex;
	flex: 1;
	margin: 2.5px;
}

.tile {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	width: calc(35vw / 15);
	height: calc(35vw / 15);
	background: #0f2949;
	margin: 0 2.5px;
	cursor: pointer;
	border-radius: 10%;
}

.tableContainer .tile h2 {
	margin: 0;
	padding: 0;
	color: #5297ae;
	font-weight: 500;
	font-size: 1.2vw;
	display: inline-block;
	text-transform: uppercase;
}

.tableContainer .tile.blue {
	background: lightseagreen;
}

.tableContainer .tile.brown {
	background: #fcffff;
}
